<div class="form-bottom">
    <form role="form" action="" method="post" class="login-form">
        <div class="form-group">
            <label for="form-username">Nom d'utilisateur</label>
            <input name="username" placeholder="Username..." class="form-username form-control" id="form-username" type="text" required>
        </div>
        <div class="form-group">
            <label for="form-email">Mot de passe</label>
            <input name="email" placeholder="eMail..." class="form-email form-control" id="form-email" type="text" required>
        </div>
        <button type="submit" class="btn btn-primary">Créer l'utilisateur</button>
        <input type="hidden" name="csrf.token" value="{{ .CSRFToken }}" />
    </form>
</div>