Bonjour {{ .User }},

Votre mot de passe a été réinitialisé.

Pour le changer, merci de vous connecter sur {{ .BaseURL }}/resetPwd?UserID={{ .UserID }}&Token={{ .Token }}

Cordialement,
TwitchBot@{{ .MainChannel }}