<!DOCTYPE html>
<html lang="en">

<head>
    <title>Twitch bot - {{ .MainChannel }}</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ .BaseURL }}/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ .BaseURL }}/static/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="{{ .BaseURL }}/static/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="{{ .BaseURL }}/static/css/custom.css">

    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="{{ .BaseURL }}/static/js/jquery.min.js"></script>
    <script src="{{ .BaseURL }}/static/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Fonctions du Bot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav navbar-right">
                {{ range $route, $routeDetails := .Navigation }}
                <li class="nav-item"><a class="nav-link" href="{{ $routeDetails.Route }}">{{ $routeDetails.Desc }}</a></li>
                {{ end }}
            </ul>
        </div>
    </nav>
    {{ yield }}
</body>

</html>